- if thumb == true
  = link_to_function(image_tag('thumb_down.png'), 'app.toggle_thumb(this)', :'data-rest-hidden' => restaurant_id)
- else
  = link_to_function(image_tag('thumb_up.png'), 'app.toggle_thumb(this)', :'data-rest-hidden' => restaurant_id)