@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Sintony);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);

*
{
  font-family: 'Roboto Condensed', sans-serif;
  color: #F2E9D8;
}

::-webkit-input-placeholder {
   color: grey;
   opacity: 0.7;
}

body{
background-color: #F2E9D8;
}
.tcenter{
  text-align: center;
}
.inline{
  display: inline-block;
}
h1{
  color: #ff6666;
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
}

#search
{
  margin-top: 50px;
}

#underlay
{
  background-color: #4C6173;
  height: 100%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 12px 12px #D9BF73;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#approx_user_address
{
  width: 80%;
  display:inline-block;
  float: left;
}

#approx_address
{
  width: 80%;
  display:inline-block;
  float: left;
}

#address_not_valid_text
{
  color: red;
  margin: 10px 0 10px 0;
  width: 100%;
  display: block;
  float: left;
  min-height: 30px;
}

#user_address_not_valid_text
{
  color: red;
  margin: 10px 0 10px 0;
  width: 100%;
  display: block;
  float: left;
  min-height: 30px;
}

#valid_address
{
  color: #BCF277;
  margin: 10px 0 10px 0;
  width: auto;
  display: inline-block;
  float: left;
  min-height: 30px;
}

#user_valid_address
{
  color: #BCF277;
  margin: 10px 0 10px 0;
  width: auto;
  display: inline-block;
  float: left;
  min-height: 30px;
}


#instruct
{
  margin: 10px 0 10px 0;
  display: block;
  width: 100%;
  display: block;
  float: left;
  min-height: 30px;
}

#user_instruct
{
  margin: 10px 0 10px 0;
  display: block;
  width: 100%;
  display: block;
  float: left;
  min-height: 30px;
}

.address_selected
{
  color: #8DBF41;
}

#nav
{
  width: 95%;
  min-height: 50px;
  background-color: #54BF83;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  box-shadow: 3px 3px 3px #1C2F40;
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 17px;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

#nav a
{
  display: inline-block;
  text-align: left;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
  color: #F2E9D8;
}

#nav a:hover
{
  color: #1763A6;
}

.logo
{
  font-size: 30px;
  color: #4DF26C;
  display: inline-block;
  float: right;
  margin-right: 20px;
  padding: 5px;
  text-align: right;
  text-shadow: 2px 3px 2px #0B8277;
}

.links a
{
  color: #7EF256;
  display: block;
  width: 100%;
  font: 8px;
  margin-top: 2px;
  margin-bottom: 4px;
}

.links a:hover
{
  color: #D9D1BA;
}

.edit_delete
{
  display: inline-block;
  float: left;
  width: auto;
  font: 8px;
  margin-top: 2px;
  margin-bottom: 4px;
  margin-right: 10px;
}

.edit_delete a
{
  color: #D9998E;
}

.edit_delete a:hover
{
  color: #D9D1BA;
}

.hide
{
  display: none;
}

.restaurant_div
{
  background-color: #4C6173;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.review_div
{
  background-color: #8094A6;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  min-height: 0;
  font-family: arial;
  line-height: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.reviews
{
  padding-left: 5%;
}

#review_content
{
  width: 90%;
  margin-left: 0;
  margin-top: 10px;
}

#value_dropdown
{
  width: 40%;
  margin-left: 0;
  margin-top: 10px;
}

#comment_content
{
  width: 90%;
  margin-left: 0;
  margin-top: 10px;
}

.comment_div
{
  width: 80%;
  background-color: #8094A6;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  min-height: 0;
  font-family: arial;
  line-height: 15px;
  border-top: 1px solid #5D718C;
  margin-top: 10px;
  margin-left: 5%;
}

.show_review_content, .comment_link
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.comment_link a
{
  color: #7EF256;
}

.comment_form
{
  width: 70%;
  display: inline-block;
  float: right;
}

.comments
{
  padding-left: 5%;
}

#key
{
  padding: 20px 20px 20px 40px;
  color: black;
  font-size: 17px;
}

#key a
{
  color: inherit;
}

.header
{
  font-size: 16px;
  color: #D9D1BA;
}

.text1
{
  font-size: 17px;
  margin-bottom: 10px;
}

.text2
{
  font-size: 12px;
  margin-bottom: 5px;
}

.tag_button
{
  font-size: 9px;
  padding: 3px;
  border-radius: 5px;
}

a
{
  text-decoration: none;
}

#toggle_thumb img
{
  width: 15px;
  height: 15px;
}

#map_canvas
{
  width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#user_form
{
  width: 50%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  border-radius: 10px;
}

#rest_form
{
  width: 80%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  border-radius: 10px;
}

.buttons_space
{
  height: 50px;
  width: 100%;
  display: block;
  margin: 5px 0 5px 0;
}

.cancel_btn
{
  background-color: #D93030;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  font-size: 8px;
  vertical-align: middle;
  border: none;
  margin: 20px 5px 20px 10px;
  float: right;
}

.cancel_btn:hover
{
  background-color: #D9631B;
}

.submit_btn
{
  background-color: #7EA629;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  font-size: 8px;
  vertical-align: middle;
  border: none;
  margin: 20px 5px 20px 10px;
  float: right;
}

.select_btn
{
  background-color: #3D83F2;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  font-size: 8px;
  vertical-align: middle;
  border: none;
  margin: 20px 5px 20px 30px;
  float: left;
  display: inline-block;
}

.submit_btn:hover
{
  background-color: #62A631;
}

.find_btn
{
  background-color: #8C6175;
  width: 60px;
  height: 20px;
  border-radius: 5px;
  font-size: 8px;
  vertical-align: middle;
  border: none;
  margin: 5px 5px 15px 10px;
  display: inline-block;
  float: left;
}

.find_btn:hover
{
  background-color: #593157;
}

.selected img
{
  border: 2px solid red;
}

.tagbutton {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 15px 5px 5px 5px;
  vertical-align: middle;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 17px/100% Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.tagbutton:hover {
  text-decoration: none;
}
.tagbutton:active {
  position: relative;
  top: 1px;
}

.vegetarian {
  color: #fef4e9;
  border: solid 1px #76C13A;
  background: #76C13A;
  background: -webkit-gradient(linear, left top, left bottom, from(#76C13A), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.vegetarian:hover {
  background: #76C13A;
  background: -webkit-gradient(linear, left top, left bottom, from(#76C13A), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.vegetarian:hover:after {
  content: attr(title);
}

.fast {
  color: #fef4e9;
  border: solid 1px #8C6175;
  background: #8C6175;
  background: -webkit-gradient(linear, left top, left bottom, from(#8C6175), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C6175', endColorstr='#f47a20');
}
.fast:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#8C6175), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.fast:hover:after {
  content: attr(title);
}

.cheap {
  color: #fef4e9;
  border: solid 1px #438C7F;
  background: #438C7F;
  background: -webkit-gradient(linear, left top, left bottom, from(#438C7F), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.cheap:hover {
  background: #438C7F;
  background: -webkit-gradient(linear, left top, left bottom, from(#438C7F), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#438C7F', endColorstr='#f06015');
}
.cheap:hover:after {
  content: attr(title);
}

.expensive {
  color: #fef4e9;
  border: solid 1px #22428C;
  background: #22428C;
  background: -webkit-gradient(linear, left top, left bottom, from(#22428C), to(#f47a20));
  background: -moz-linear-gradient(top,  #22428C,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#22428C', endColorstr='#f47a20');
}
.expensive:hover {
  background: #22428C;
  background: -webkit-gradient(linear, left top, left bottom, from(#22428C), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.expensive:hover:after {
  content: attr(title);
}

.groups {
  color: #fef4e9;
  border: solid 1px #8C2305;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#8C2305), to(#f47a20));
  background: -moz-linear-gradient(top,  #8C2305,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C2305', endColorstr='#f47a20');
}
.groups:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.groups:hover:after {
  content: attr(title);
}

.healthy {
  color: #fef4e9;
  border: solid 1px #F2EF78;
  background: #F2EF78;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EF78), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.healthy:hover {
  background: #F2EF78;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EF78), to(#f06015));
  background: -moz-linear-gradient(top,  #F2EF78,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2EF78', endColorstr='#f06015');
}
.healthy:hover:after {
  content: attr(title);
}
