= text_area_tag :review_content
= link_to_function('Submit', 'app.submit_review_form(this)', :class => 'button submit_btn')
= hidden_field_tag 'rev_rest_id', @restaurant.id
= button_to_function('Cancel', 'app.cancel_review_form()', :class => 'button cancel_btn')
